<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi5wVCCRWqNPCFx6NLiST76qTfJJthHGo</string>
	<key>GCM_SENDER_ID</key>
	<string>298674373880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ieCRM</string>
	<key>PROJECT_ID</key>
	<string>iecrmnotificationapp-5ed0c</string>
	<key>STORAGE_BUCKET</key>
	<string>iecrmnotificationapp-5ed0c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298674373880:ios:95c868b914bb372603670d</string>
</dict>
</plist>